@import url('./reset.css');
@import "izitoast/dist/css/iziToast.min.css";
@import "simplelightbox/dist/simple-lightbox.min.css";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.search-container {
  margin-top: 10px;
  text-align: center;
}

.search-form {
  display: inline-block;
}

.search-input {
  padding: 10px;
  border-radius: 5px 5px;
  border: 1px solid #ccc;
  width: 300px;
  box-sizing: border-box;
}

.search-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}


.loader {
  opacity: 0;
  transition: opacity 10ms ease-in-out;
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  display: inline-block;
  position: absolute;
  top: calc(10% + 40px);
  left: calc(45% + 40px);
  transform: translate(-50%, -50%);
}

.is-visible {
  opacity: 1;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  position: absolute;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
  transform: translate(-10px, 19px) rotate(-35deg);
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
  transform: translate(32px, 3px) rotate(-35deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8)
  }

  50% {
    transform: rotate(360deg) scale(1.2)
  }

  100% {
    transform: rotate(720deg) scale(0.8)
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }

  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }

  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}



.gallery-list {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.details-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.details-title-det {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-info {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.48px;
}

.paragraph-info {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}


.gallery-btn {
  display: block;
  margin: 20px auto 0;
  min-width: 125px;
  padding: 8px 16px;
  border-radius: 8px;
  border: transparent;
  background-color: #4e75ff;
  color: #fff;
  cursor: pointer;
  transition: background-color .25s ease-in;
}

.gallery-btn:hover {
  background-color: #6c8cff;
}

.gallery-btn.is-hidden {
  display: none;
}

